/* 基础样式 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
ul li {
	list-style: none;
}
html{
    ob
	height: 100%;
	width: 100%;
}
body{

    min-width: 1315px;
	height: 100%;
	width: 100%;
	font-family: "微软雅黑";
    font-size: 80%;
    color: #3c3c3c;
}
.clearfix::before,.clearfix::after{
    content:"";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    zoom:1;
    /*;为了兼容ie6，7，8*/
}
/* index样式 */
.all{
    position: relative;
    min-width: 1080px;
	width: 100%;
}
.all .head{
	height: 40px;
	width: 100%;
	text-align: center;
}
.all .head .head-logo{
	width: 74px;
    height: 18px;
	margin-left:  auto;
	margin-right: auto;    
	padding-top: 11px;	
}
.all .head a{
	display: block;
	width: 74px;
    height: 18px;
	background: url('../img/ncommon_ghdr_sprite-s0caa9f8ce1.png') no-repeat ;
	background-position: 0 -957px;
}
.main-a{
	width: 100%;
	position: relative;
}
.main-a .main-a-bg{
	width: 100%;
}
.main-a .main-a-bg img{
	width: 100%;
}
.main-a .main-a-a{
    width: 42.43%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 0;
    margin-left: -23.8%;
}
.main-a .main-a-a img{
	width: 100%;
}
.main-a .main-a-b{
	width: 44.45%;
    position: absolute;
    z-index: 1;
    bottom: -38%;
    left: 50%;
    margin-left: -23.3%;
}
.main-a .main-a-b img{
	width: 100%;
}
.main-a .main-a-c{
	position: absolute;
    width: 15.97%;
    bottom: 0;
    margin-bottom: -16.5%;
    z-index: 2;
}
.main-a .main-a-c img{
	width: 100%;
}
.main-a .main-a-logo{
	position: absolute;
    top: 0;
    right: 0;
}
.main-a .main-a-c img{
	width: 100%;
}
.main-b{
	min-width: 1080px;
	overflow: hidden;
	margin-top: -4px;
	position: relative;
}
.main-b .main-b-bg{
	width: 100%;
}
.main-b .main-b-bg img{
	width: 100%;
}
.main-b .main-b-video{
	width: 100%;
    position: absolute;
    z-index: 1;
    top: 28.8%;
    left: 0;
}
.main-b .main-b-video h2{
	width: 29.8%;
    margin-bottom: 0.5%;
}
.main-b .main-b-video h2 img{
	width: 100%;
}
.main-b .main-b-video p{
	width: 9.1%;
    position: absolute;
    top: 9%;
    left: 50%;
    margin-left: -2.3%;
}
.main-b .main-b-video p img{
	width: 100%;
}
.movie-slider-inside{
	line-height: 0;
}
.movie-slider-list{
    width:3800px; 
    position: absolute; 
    margin-top: 20px;
	padding-top: 2.63889vw;
	padding-right: 0vw;
	padding-bottom: 0vw;
	padding-left: 0vw;
	display: inline-block;
    white-space: nowrap;
    font-size: 0;
    letter-spacing: 0;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 24.86111vw auto;
    background-image: url("../img/bg01.png");
    /* animation-name: image-slider;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 19.9s; */
}
@keyframes image-slider {0% {-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}100%   {-webkit-transform:translate3d(-796px,0,0);transform:translate3d(-796px,0,0);}}
.movie-slider-list li{
    width: 23.61111vw;
    margin-top: 0vw;
    margin-right: 0.625vw;
    margin-bottom: 0vw;
    margin-left: 0.625vw;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
}
.movie-slider-list li div span{
	display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 14%;
}
.movie-slider-list li div span::after{
   content: "";
    width: 84px;
    width: 5.83333vw;
    height: 84px;
    height: 5.83333vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-image: url("../img/play01.png");
}
.movie-slider-list li div span img{
     transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.movie-slider-list li div span:hover img{
    transform: scale(1.05);
    opacity: .6;
}
.movie-slider-list li img{
	width: 100%;
}
.main-c{
    position: relative;
}
.main-c img{
    width: 100%;
    margin-top: -4px;
} 
.main-c .adventure-chara{
    width: 46.25%;
    position: absolute;
    top: 0;
    right: 50%;
    margin-top: -12.5%;
    margin-right: -5.9%;
    pointer-events: none;
    z-index: 2;
}
.main-c .adventure-movie{
    width: 62%;
    height: 50%;
    position: absolute;
    top: -1.6%;
    left: 20%;
    z-index: 1;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    background-color: #fff;
    overflow: hidden; 
    border: 10px solid #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.45);
}
.main-c .adventure-title{
   position: absolute;
   bottom: 11%;
   left: 26%;
}
.main-c .adventure-text{
   position: absolute;
   bottom: 4%;
   left: 27%;
}
.main-d{
     overflow: hidden;
    z-index: 1;
    position: relative;
    margin-top: -4px;
}
.main-d-bg img:nth-child(2){
    margin-top: -3px;
} 
.main-d img{
    width: 100%;
}
.main-d ul {
    overflow: hidden;
}
.main-d ul li{
    position: absolute;
    top: 0;
    left: 50%;
    display: list-item;
    text-align: -webkit-match-parent;
}
.main-d ul li:nth-child(1){
    z-index: 1;
    width: 75.27%;
    margin-top: 6.7%;
    margin-left: -54.3%;
    -webkit-transform: rotate(-4.5deg);
    -ms-transform: rotate(-4.5deg);
    transform: translate3d(140%, -10%, 0) rotate(10deg);
    box-shadow: 5px 8px 10px 0px rgba(6, 5, 5, 0.6);
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}
.li1{
    transform: translate3d(0, 0, 0) rotate(-4.5deg) !important;
}
.main-d ul li:nth-child(1) img{
   box-shadow: 5px 8px 10px 0px rgba(6, 5, 5, 0.6);
}
.main-d ul li:nth-child(2){
    z-index: 0;
    transform: translate3d(110%, -2%, 0) rotate(0deg);
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    z-index: 0;
    width: 47.1%;
    margin-top: 5.5%;
    margin-left: 6.2%;
}
.li2{
    transform: translate3d(0, 0, 0) rotate(-10deg) !important;
}
.main-d ul li:nth-child(2) img{
    border: 10px solid #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.45);
}
.main-d ul li:nth-child(3){
    z-index: 2;
    width: 46.25%;
    margin-top: 25.5%;
    margin-left: 0;
   transform: translate3d(130%, 4%, 0) rotate(20deg);
    -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.li3{
    transform: translate3d(0, 0, 0) rotate(3deg) !important;
}
.main-d ul li:nth-child(3) img{
    border: 10px solid #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.45);
}
.main-d-a{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding-top: 52.6%;
    padding-left: 12.16%;  
}
.main-d-a h2{
        width: 50.55%;
}
.main-d-a p{
         width: 37.4%;
    margin-top: 3.9%;
    margin-left: 1.08%;
}
.main-e{
    margin-top:-150px;
    padding-top: 147px;
    margin-bottom: -300px; 
    padding-bottom: 300px;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 9999;
}
.main-e-bg{
    
    width: 100%;
}
.main-e-bg img{
    width: 100%;
}
.main-e-bg img:nth-child(2){
    width: 100%;
    margin-top: -3px;
}
.main-e .main-e-all{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 46.6% 0 14% 5.1%;
    z-index: 1;
    margin-top: -3px;
}
.main-e .main-e-all .main-e-a{
    width: 27.35%;
    position: absolute;
    top: 10%;
    right: 0;
    margin-top: 7%;
}
.main-e .main-e-all .main-e-a img{
    width: 100%;
}
.main-e .main-e-all .main-e-b{
    height: 40%;
    width: 73.4%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0.7%;
    background-color: #fff;
    overflow: hidden;
    transform: rotate(2deg);
    transform-origin: left bottom;
    border: 10px solid #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.45);
}
.main-e .main-e-all .main-e-c .main-e-c-a{
    width: 38.7%;
    transform: translate3d(0, 10%, 0);
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.g1{
    transform: translate3d(0, 0, 0) !important;
}
.main-e .main-e-all .main-e-c img{
    width: 100%;
}
.main-e-c{
    height: 660px;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.main-e .main-e-all .main-e-c .main-e-c-b{
    width: 68.89%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin-top: 31.3%;
    opacity: 0;
    transform: scale(0.8) translate3d(4%, 4%, 0);
    transform-origin: right bottom;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.g2{
        transform: scale(1) !important;
            opacity: 1 !important;
}
.main-e .main-e-all .main-e-c .main-e-c-b img{
    width: 100%;
}
.main-e .main-e-all ul{
}
.main-e .main-e-all ul li:nth-child(1){
    position: absolute;
    left: 50%;
    width: 45.34%;
    bottom: 40%;
    margin-bottom: -15%;
    margin-left: -55.5%;
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
}
.main-e .main-e-all ul li:nth-child(2){
    width: 44.45%;
  bottom: 40%;
    margin-bottom: -16.4%;
    margin-left: -20.4%;
    transform: rotate(-8deg);
    position: absolute;
    left: 50%;
}
.main-e .main-e-all ul li:nth-child(3){
    width: 44.45%;
    bottom: 40%;
    margin-bottom: -15.1%;
    margin-left: 10.6%;
    transform: rotate(16deg);
    position: absolute;
    left: 50%;
}
.main-e .main-e-all ul li img{
    width: 100%;
    border: 10px solid #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.45);
}
.main-f{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 53.47%;
    position: relative;
    overflow: hidden;
}
.main-f-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}
.main-f-bg::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.game-bg-list{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.game-bg-item{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    background-color: #000;

}
.main-e-all .main-e-d{
    overflow: hidden;
    width: 100%;
    height: 900px;
    position: absolute;
    bottom: -400px;
    left: 0;
}
.main-f .game-screen{
    width: 70.76%;
    height: 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 0;
    margin-left: -35%;
    padding-top: 33.05%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/hard01.png");
}
.main-f .game-screen .game-screen-frame::before{
    content: '';
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    display: block;
}
.game-screen-list{
    width: 100%;
    height: 100%;
}
.game-screen-frame{
    width: 38%;
    position: absolute;
    top: 17.5%;
    left: 31%;
}
.game-screen-item{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.game-bg-item {
    /* transition: all 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1); */
}
.game-bg-mask{
    width: 100%;
  width: calc(100% + 2px);
  height: 100%;
  height: calc(100% + 2px);
  position: absolute;
  z-index: 1;
  top: 0;
  top: calc(0px - 1px);
  left: 0;
  left: calc(0px - 1px);
  opacity: 0;
  background-color: #000;
  transform-origin: left center;
  transform: scaleX(0);
}
.is-active {
    display: block;
}
.is-enter {
  opacity: 1;
  transform: scaleX(1);
  transition: transform 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.is-leave {
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.main-g img{
    width: 100%;
}
.foot{
    background: url('../img/bg01 (5).jpg') no-repeat;
    position: relative;
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.foot img{
    width: 100%;
}
.foot h2{
        width: 47.2%;
    margin-left: 26.8%;
    padding: 1.6% 0 .6%;
}
.foot p{
    width: 19.5%;
    position: absolute;
    top: 2%;
    left: 1%;
    margin-top: -4%;
}
.foot ul{
        padding: 1.1%;
    border-top: 3px solid #fff;
    font-size: 0;
}
.foot ul li{
    position: relative;
    display: inline-block;
    font-size: 0.90278vw;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    padding-left: 1.94444vw;
    margin-left: 2vw;
}
.foot ul li::after{
    content: '';
    width: 19px;
    width: 1.31944vw;
    height: 17px;
    height: 1.18056vw;
    position: absolute;
    top: 50%;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/arrow01.png");
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.foot-all{
    cursor: pointer;
    width: 25.7%;
    position: absolute;
    bottom: -52%;
    right: 0;
}
.foot-all:hover .foot-a{
    transform: translate3d(0, 17%, 0);
}
.foot-all:hover .foot-c{
        transform: translate3d(0, 0, 0);
}
.foot-a{
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    z-index: 1;
}
.foot-b{
    overflow: visible;
    padding-left: 6.4%;
        transform: translateY(0px);
}
.foot-b img{
     transform: translate3d(0, 0, 0);
    display: block;
    width: 100%;
    -webkit-animation: footer-floating-y 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
          animation: footer-floating-y 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
@-webkit-keyframes footer-floating-y {
  0%, 100% {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0);
  }
}

@keyframes footer-floating-y {
  0%, 100% {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0);
  }
}
.foot-c{
    position: absolute;
    top: 0;
    margin-top: 85%;
    left: 34.05%;
    width: 31.9%;
    transform: translate3d(0, 200%, 0);
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.aa{
    margin-top: -100px;
    padding-top: 100px;
    overflow: hidden;
}
.mv{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #e60012;
    z-index: 99999;
}
.mv1{
    animation: move1 1.2s forwards;
}
.mv2{
    animation: move2 1s forwards;
}
.mv3{
    animation: mv-enter-chara 1.6s;
    animation-fill-mode: forwards;
}
@keyframes mv-enter-chara {
  0% {
    opacity: 0;
    -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.2, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.5% {
    -webkit-transform: matrix3d(0.494, 0, 0, 0, 0, 0.494, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.494, 0, 0, 0, 0, 0.494, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.9% {
    -webkit-transform: matrix3d(0.699, 0, 0, 0, 0, 0.699, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.699, 0, 0, 0, 0, 0.699, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.41% {
    -webkit-transform: matrix3d(0.842, 0, 0, 0, 0, 0.842, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.842, 0, 0, 0, 0, 0.842, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.81% {
    -webkit-transform: matrix3d(0.927, 0, 0, 0, 0, 0.927, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.927, 0, 0, 0, 0, 0.927, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.71% {
    -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.003, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  19.62% {
    opacity: 1;
    -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33.93% {
    -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  48.15% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  76.78% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
 #mav{
    position: relative;
} 
@keyframes move2 {
  0%{ transform: translateX(0) }
  100%{
        transform: translateX(1900%);
  }
}

@keyframes move1 {
  0%{ transform: translateX(0) }
  100%{
        transform: translateX(100%);
  }
}
